@font-face {
  font-family: Algerian;
  src: url("media/AlgerianRegular.ttf");
}

.loginbg {
  background: #ADA996;
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
  background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.card {
  height: 100%;
}

.image {
  object-fit:cover;
}

.productlink {
  color: inherit;
}

#center {
  display: block;
    margin-left: auto;
    margin-right: auto;
}
